body{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgba(152, 102, 118, 0.539);
    padding: 20px;
    width: 60%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.head{
    margin: 15px 20px;

}
.head h1{
    font-size: 35px;
}
.ans1,.ans2,.ans3,.ans4{
    background-color: white;
    margin-top: 10px;
}
h2{
    display: inline;
    margin-left: 17px;
    font-size: 20px;
}
button{
    padding: 20px 30px;
    background-color: rgb(245, 132, 132);
    color: white;
    border: 1px solid rgb(77, 76, 76);
}